.actions {
  display: flex;

  @include list-reset;
}

.actions__button--cal,
.actions__button--write {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 40px;
  height: 40px;

  font-size: 0;

  &:active .actions__icon {
    fill-opacity: 0.3;
  }
}

.actions__button--cal {
  background-color: $mango;
}

.actions__button--write {
  background-color: darken($gold, 15%);
}

.actions__icon {
  fill: #231f20;
}

.actions__item--auth {
  flex-grow: 1;
}

.actions__button--auth {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .main-header__actions .actions__item--call,
  .main-header__actions .actions__item--write {
    display: none;
  }

  .main-header__actions .actions__item--auth {
    width: 188px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__actions .actions__item--call,
  .main-header__actions .actions__item--write {
    display: block;
  }

  .actions__button--cal,
  .actions__button--write {
    width: 50px;
    height: 50px;
  }
}
