.button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 5px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: $blue;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $gold;
  border: none;
  border-radius: 50px;

  &:hover {
    background-color: darken($gold, 10%);
  }

  &:active {
    color: rgba($blue, 0.3);
  }

  &:active .button__icon {
    fill-opacity: 0.3;
  }
}

.button__icon {
  display: block;
  width: 10px;
  height: 14px;

  fill: $blue-slate;
}

.button--rect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 24px;

  font-size: 18px;
  line-height: 18px;
  text-align: left;
  text-transform: inherit;

  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .button {
    padding: 10px 0;

    font-size: 20px;
    line-height: 30px;
  }

  .button--rect {
    padding: 28px 33px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;
  }
}
