.companions-catalog__list {
  @include list-reset;
}

.companions-catalog__item {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.companions-catalog__pagination {
  margin-top: 18px;
}

@media (min-width: $tablet-width) {
  .companions-catalog__item {
    margin-top: 40px;
  }

  .companions-catalog__pagination {
    margin-top: 44px;
  }
}

@media (min-width: $desktop-width) {
  .companions-catalog__list {
    max-width: 950px;
  }

  .companions-catalog__item {
    margin-top: 30px;
  }

  .companions-catalog__pagination {
    margin-top: 64px;
  }
}
