.companions {
  padding-top: 85px;
  padding-bottom: 30px;

  background-color: $blue-grey;
  border-radius: 0 0 30px 30px;
}

.catalog-page .companions {
  background-color: $pale-grey;
  border-radius: 0;
  padding-top: 0;
}

.companions__title {
  margin: 0;
  margin-top: 15px;
  margin-left: 23px;
}

.companions__description {
  margin: 0;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 23px;

  color: $white;
}

.companions__description--bold {
  font-weight: 700;
}

.companions__list {
  @include list-reset;

  margin-top: 58px;
}

.companions__item {
  margin-top: 10px;
}

.companions__item:first-child {
  margin-top: 10px;
}

.companions__button--add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $blue-slate;
  text-transform: uppercase;
  text-decoration: none;

  &::before {
    content: "";

    display: block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}

.companions__container {
  position: relative;

  display: flex;
  margin-top: 20px;

  background-color: $white;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 1px);

    display: block;
    width: 1px;
    height: 100%;

    background-color: $pale-grey;
  }
}

.companions__button--right,
.companions__button--left {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border-radius: 0;
}
