.container {
  box-sizing: border-box;
  padding: 0 25px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 60px;
  }
}
