.contacts__list--direct {
  margin-top: 50px;
}

.direct-contacts__link--header {
  color: $blue-grey;
}

.contacts__list--socials {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.social-contacts__button--header {
  background-color: transparent;
}
