.contacts {
  @include list-reset;

  font-weight: 700;
  text-transform: uppercase;
}

.contacts__link {
  display: flex;
  align-items: center;

  color: $blue-grey;
  text-decoration: none;

  &--gold {
    color: $gold;
  }

  &:hover:not(&--location),
  &:hover:not(&--location) .contacts__icon {
    color: darken($gold, 15%);

    fill: darken($gold, 15%);
  }

  &:active:not(&--location),
  &:active:not(&--location) .contacts__icon {
    color: rgba($gold, 0.3);

    fill: rgba($gold, 0.3);
  }
}

.contacts__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: $blue-grey-two;
  border-radius: 50%;
}

.contacts__icon {
  fill: #ffd74b;
}

.contacts__text {
  width: 75%;
}

@media (min-width: $tablet-width) {
  .contacts__icon-wrapper {
    width: 67px;
    height: 67px;
  }

  .contacts__icon {
    width: 27px;
    height: auto;

    &--location {
      height: 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts__item:not(:first-child) {
    margin-left: 100px;
  }

  .contacts__icon-wrapper {
    width: 90px;
    height: 90px;
  }

  .contacts__icon {
    width: 36px;

    &--location {
      height: 43px;
    }
  }
}
