.countries-filters {
  position: relative;

  padding-top: 40px;
  padding-bottom: 20px;

  color: $blue-grey;

  background-color: $pale-grey-four;
  border-radius: 0 0 20px 20px;

  &--opened {
    padding-bottom: 25px;
  }
}

.countries-filters__title {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.cointries-filters__title-icon {
  margin-right: 8px;

  fill: currentColor;
}

.countries-filters__colon {
  display: none;
}

.countries-filters__open-filters {
  position: absolute;
  top: 39px;
  right: 25px;

  padding: 10px 4px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    color: rgba($blue-grey, 0.6);
  }

  &:active {
    color: rgba($blue-grey, 0.3);
  }
}

.countries-filters__open-icon {
  fill: currentColor;
}

.countries-filters__group-list {
  @include list-reset;

  display: none;

  padding-top: 30px;
  margin-right: 9.5%;
  margin-left: 9.5%;

  &--visible {
    display: block;
  }
}

.countries-filters__group-item {
  margin-top: 5px;

  &:first-child {
    margin-top: 0;
  }
}

.countries-filters__group-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: rgba($blue-grey, 0.3);
  text-transform: uppercase;
  text-decoration: none;

  &--selected {
    color: $blue-grey;
  }

  &:hover {
    color: rgba($blue-grey, 0.6);
  }

  &:active {
    color: $blue-grey;
  }
}

.countries-filters__body {
  display: none;

  &--opened {
    display: block;
  }
}

.coutries-filters__alphabet {
  margin-top: 20px;
  margin-right: 9.5%;
  margin-left: 9.5%;
}

.coutries-filters__close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: $light-grey;
  cursor: pointer;

  &:hover {
    background-color: $light-grey-two;
  }
}

.countries-filters__close-icon {
  fill: currentColor;
}

@media (min-width: $tablet-width) {
  .countries-filters {
    padding-top: 57px;
    padding-bottom: 37px;
    padding-left: 75px;
    padding-right: 75px;

    border-radius: 0 0 50px 50px;

    &--opened {
      padding-bottom: 40px;
    }
  }
  
  .countries-filters__title {
    display: none;
  }
  
  .countries-filters__open-filters {
    position: absolute;
    top: 72px;
    right: 71px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 180px;

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: $blue-grey;
  }

  .countries-filters__open-icon {
    width: 27px;
    height: 5px;
    margin-left: 18px;
  }
  
  .countries-filters__group-list {
    display: flex;
    margin: 0;
    padding-top: 20px;
  }

  .countries-filters__group-item {
    margin-top: 0;
    margin-left: 27px;

    &:first-child {
      margin-left: 0;
    }
  }

  .countries-filters__group-link {
    font-size: 20px;
    line-height: 24px;
  }
  
  .countries-filters__body {
    display: none;
    padding-bottom: 27px;
  
    &--opened {
      display: block;
    }
  }
  
  .coutries-filters__alphabet {
    margin-top: 47px;
    margin-right: auto;
    margin-left: -22px;
  }

  .coutries-filters__close {
    margin-top: 50px;
    width: 100%;
    min-height: 100px;

    border-radius: 20px;
  }

  .countries-filters__close-icon {
    width: 19px;
    height: 19px;
    margin-right: 20px;
    fill: currentColor;
  }
}

@media (min-width: $desktop-width) {
  .countries-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 78px;
    padding-bottom: 37px;
    padding-left: 60px;
    padding-right: 60px;

    border-radius: 0 0 60px 60px;

    &--opened {
      padding-bottom: 40px;
    }
  }
  
  .countries-filters__title {
    display: block;
    margin-left: 20px;

    font-size: 20px;
    line-height: 0;
  }

  .countries-filters__colon {
    display: inline;
  }

  .cointries-filters__title-icon {
    margin-right: 15px;
    width: 23px;
    height: 15px;
  }
  
  .countries-filters__open-filters {
    position: absolute;
    top: 74px;
    right: 120px;
  }
  
  .countries-filters__group-list {
    margin-left: 34px;
    padding-top: 0;
  }
  
  .coutries-filters__alphabet {
    margin-top: 65px;
    margin-right: auto;
    margin-left: 36px;
  }

  .coutries-filters__close {
    margin-top: 67px;
    width: 1320px;
    min-height: 100px;

    border-radius: 20px;
  }

  .countries-filters__close-icon {
    width: 19px;
    height: 19px;
    margin-right: 20px;
    fill: currentColor;
  }
}