.country-card {
  position: relative;

  background-color: $white;
  border-radius: 10px;
}

.country-card__image {
  display: block;
  width: 100%;
  height: auto;

  border-radius: 10px 10px 0 0;
}

.country-card__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  padding: 24px;
  padding-top: 25px;
  padding-bottom: 20px;

  background-color: $white;
  border-radius: 10px;
}

.country-card__link {
  flex-grow: 1;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $dark-two;
  text-decoration: none;

  &::before {
    content: "";

    display: block;
  }
}

.country-card__description {
  margin: 0;
  margin-top: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba($grey, 0.3);
}

.country-card__companions-counter {
  margin: 0;

  color: rgba($grey, 0.3);

  &::before {
    content: url("../img/icon-user.svg");

    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 8px;

    vertical-align: middle;

    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .country-card {
    display: flex;
    flex-direction: row-reverse;

    border-radius: 20px;
  }

  .country-card__image {
    display: block;
    order: 1;
    width: 186px;
    height: 140px;

    border-radius: 0 20px 20px 0;
  }

  .country-card__wrapper {
    position: relative;

    flex-grow: 1;
    flex-direction: column;
    margin: 0;
    padding: 29px 30px;
    padding-bottom: 19px;

    border-radius: 20px 0 0 20px;
  }

  .country-card__link {
    font-size: 24px;
    line-height: 24px;
    color: $dark-two;

    &::before {
      content: "";

      display: block;
    }
  }

  .country-card__description {
    font-size: 20px;
    line-height: 17px;
  }

  .country-card__companions-counter {
    display: flex;
    align-items: center;
    margin-top: 16px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      content: url("../img/icon-user.svg");

      display: block;
      width: 21px;
      height: 24px;
      margin-right: 8px;
    }
  }
}
