.direct-contacts {
  @include list-reset;
  font-weight: 700;
}

.direct-contacts__link {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover,
  &:hover .direct-contacts__icon {
    color: darken($gold, 15%);
    fill: darken($gold, 15%);
  }

  &:active,
  &:active .direct-contacts__icon {
    color: rgba($gold, 0.3);
    fill: rgba($gold, 0.3);
  }
}

.direct-contacts__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;

  background-color: $blue-grey-two;
  border-radius: 50%;
}

.direct-contacts__icon {
  fill: #ffd74b;
}
