.double-range__controls {
  position: relative;

  display: flex;
  width: 100%;
  height: 33px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.5px);
    left: calc(50% - 8px);

    display: block;
    width: 16px;
    height: 1px;

    background-color: $cloudy-blue;
    box-shadow: 0 0 0 5px $white;
  }
}

.double-range__field {
  box-sizing: border-box;
  width: 50%;
  height: 100%;

  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: $blue-slate;
  letter-spacing: 1.5px;

  background-color: $white;
  border: 0;
  box-shadow: 0 0 0 1px $cloudy-blue;

  &--min {
    padding-right: 5px;

    border-radius: 5px 0 0 5px;
  }

  &--max {
    padding-left: 5px;

    border-radius: 0 5px 5px 0;
  }

  &:focus {
    outline: none;
  }

  &::-ms-clear {
    display: none;
  }
}

.double-range__scale {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  margin-top: 25px;
  padding: 0 10px;

  background-color: rgba($blue-slate, 0.2);
}

/* margin-left - Минимальная цена (в процентах) */
/* margin-right - Максимальная цена (в процентах) */
.double-range__bar {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-right: 0;
  margin-left: 33%;

  background-color: $blue-slate;
}

.double-range__toggle {
  width: 10px;
  height: 10px;

  font-size: 0;

  background-color: $blue-slate;
  border-radius: 50%;
  cursor: pointer;

  transition: transform 0.15s ease-in-out;

  &--min {
    margin-left: -10px;
  }

  &--max {
    margin-right: -10px;
  }

  &:hover,
  &:focus {
    transform: scale(1.5);
  }

  &:active,
  &:focus {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
    transform: scale(1.5);
  }
}

@media (min-width: $tablet-width) {
  .double-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .double-range__controls {
    order: 1;
    width: 148px;
    height: 44px;
  }

  .double-range__field {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .double-range__scale {
    width: 281px;
    height: 3px;
  }

  .double-range__toggle {
    width: 12px;
    height: 12px;

    &--min {
      margin-left: -12px;
    }

    &--max {
      margin-right: -12px;
    }
  }

  .double-range__bar {
    margin-right: 0;
    margin-left: 27%;
  }
}

@media (min-width: $desktop-width) {
  .double-range {
    display: block;
  }
  .double-range__controls {
    width: 100%;
    height: 43px;
  }

  .double-range__scale {
    width: 100%;
    height: 3px;
    margin-top: 35px;
  }

  .double-range__toggle {
    width: 13px;
    height: 13px;

    &--min {
      margin-left: -13px;
    }

    &--max {
      margin-right: -13px;
    }
  }

  .double-range__bar {
    margin-right: 0;
    margin-left: 37%;
  }
}
