.filters {
  padding-top: 22px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 25px;

  background-color: $gold;
  border-radius: 20px;
}

.filters__description {
  margin-top: 0;
  margin-right: 20%;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 23px;
  line-height: 23px;
  color: $blue-slate;
}

.filters__form {
  margin-top: 23px;
}

.filters__set-list {
  @include list-reset;
}

.filters__set-item {
  border: none;
  border-top: 1px solid $macaroni-and-cheese;
}

.filters__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $blue-slate;
  text-transform: uppercase;

  cursor: text;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.filters__title-colon {
  display: none;
}

.filters__title-button {
  flex-grow: 1;
  padding-top: 17.5px;
  padding-right: 0;
  padding-bottom: 17.5px;
  padding-left: 17px;

  font-size: 0;
  text-align: right;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filters__title-icon {
  transform: rotate(180deg);

  fill: currentColor;

  &--closed {
    transform: rotate(0);
  }
}

.filters__checkboxes-list {
  padding-left: 0;
}

.filters__item {
  margin-top: 10px;

  &:first-child {
    margin-top: 0;
  }
}

.filters__transport-list {
  display: flex;
  padding-left: 0;
}

.filters__content {
  margin-top: 3px;
  padding-bottom: 20px;

  &--closed {
    display: none;
  }
}

.filters__set-item:last-child .filters__content {
  padding-bottom: 0;
}

.filters__submit {
  margin-top: 6px;
}

@media (min-width: $tablet-width) {
  .filters {
    padding-top: 34px;
    padding-right: 10px;
    padding-bottom: 38px;
    padding-left: 34px;
  }

  .filters__description {
    font-size: 30px;
    line-height: 30px;
  }

  .filters__form {
    margin-top: 40px;
  }

  .filters__set-list {
    padding-bottom: 19px;

    border-top: none;

    &::before {
      content: "";

      display: block;
      width: calc(100% - 24px);
      height: 1px;

      background-color: $macaroni-and-cheese;
    }

    &::after {
      content: "";

      display: block;
      width: calc(100% - 24px);
      height: 1px;
      margin-top: 37px;

      background-color: $macaroni-and-cheese;
    }
  }

  .filters__set-item {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 30px;
    margin-top: 21px;

    border: none;

    &--range {
      margin-top: 10px;
      margin-right: 24px;
    }

    &:first-child {
      margin-top: 30px;
    }
  }

  .filters__title {
    display: block;
    width: 127px;

    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: 1;
    }
  }

  .filters__title-colon {
    display: inline;
  }

  .filters__title-button {
    display: none;
  }

  .filters__title-icon {
    width: 10px;
    height: 5px;
  }

  .filters__checkboxes-list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .filters__content {
    flex: 1;
    margin-top: 0;
    padding-bottom: 0;

    &--closed {
      display: flex;
    }
  }

  .filters__item {
    min-width: 170px;
    margin-top: 0;
  }

  .filters__submit {
    width: calc(100% - 24px);
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .filters {
    box-sizing: border-box;
    width: 19.8vw;
    margin: 0;
    padding: 48px;
    padding-top: 45px;
  }

  .filters__description {
    font-size: 30px;
    line-height: 30px;
  }

  .filters__form {
    margin-top: 25px;
  }

  .filters__set-list {
    display: block;
    padding-bottom: 19px;

    &:before {
      content: none;
    }

    &:after {
      content: none;
    }
  }

  .filters__set-item {
    display: block;
    min-height: 30px;
    margin-top: 0;

    border: none;

    &--range {
      margin-top: 0;
      margin-right: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .filters__title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .filters__title-colon {
    display: none;
  }

  .filters__title-button {
    display: block;
  }

  .filters__content {
    margin-top: 15px;
    margin-bottom: 19px;

    &--closed {
      display: none;
    }
  }

  .filters__item {
    margin-top: 15px;

    &:first-child {
      margin-top: 0;
    }
  }

  .filters__submit {
    width: 103%;
    margin-top: 4px;
  }
}
