.form__field-wrapper {
  position: relative;
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  padding: 22px;
  padding-right: 104px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border: none;
  border-radius: 10px;

  &::-webkit-input-placeholder {
    color: rgba($grey, 0.3);
  }

  &::-moz-placeholder {
    color: rgba($grey, 0.3);
  }

  &:-moz-placeholde {
    color: rgba($grey, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba($grey, 0.3);
  }
}

.form__submit--integrated {
  position: absolute;
  top: 0;
  right: 0;

  width: 82px;
  height: 100%;
  padding-right: 36px;
  padding-left: 36px;

  font-size: 0;

  border-radius: 0 10px 10px 0;
}

.form__list {
  @include list-reset;

  margin-top: 38px;
}

.form__transport-list {
  @include list-reset;

  display: flex;
  margin-top: 38px;
}

.form__transport-item {
  width: 33px;
  height: 33px;

  background-color: $pale-grey;
  border-radius: 50%;
}

.form__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;

  &--checkbox::before {
    content: "";

    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-right: 9px;

    background-color: $white;
    border-radius: 4px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--transport {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;

    font-size: 0;
    line-height: 0;
    color: rgba($blue-slate, 0.15);

    border-radius: 50%;

    &::before {
      content: none;
    }

    &:hover {
      color: rgba($blue-slate, 0.7);

      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &:active {
      color: rgba($blue-slate, 0.3);

      box-shadow: none;
    }
  }
}

.form__transport-icon {
  fill: currentColor;
}

.form__checkbox:focus + .form__label {
  opacity: 0.6;
  &--transport {
    color: rgba($blue-slate, 0.7);

    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }
}

.form__checkbox:checked + .form__label {
  &--checkbox::after {
    content: url("../img/icon-tick.svg");
    position: absolute;
    top: 5px;
    left: 5px;

    display: block;
    width: 9px;
    height: 9px;
  }

  &--transport {
    color: $blue-slate;

    &::after {
      content: none;
    }

    &:hover {
      color: rgba($blue-slate, 0.7);

      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &:active {
      color: rgba($blue-slate, 0.3);

      box-shadow: none;
    }
  }
}

.form__submit {
  width: 100%;

  background-color: $white;

  &:hover {
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: $macaroni-and-cheese;
    box-shadow: none;
  }
}

@media (min-width: $tablet-width) {
  .form__field {
    padding: 31px 35px;
    padding-right: 112px;

    border-radius: 20px;
  }

  .form__submit--integrated {
    border-radius: 0 20px 20px 0;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;

    &--transport {
      font-size: 0;
      line-height: 0;
    }
  }

  .form__transport-list {
    margin-top: 0;
  }

  .form__transport-item {
    width: 43px;
    height: 43px;
  }

  .form__transport-icon {
    width: auto;
    height: 21px;
  }
}

@media (min-width: $desktop-width) {
  .form__submit--integrated {
    width: 324px;

    font-size: 24px;
  }
}
