@media (min-width: $tablet-width) {
  .logo {
    display: block;
    width: 164px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    display: block;
    width: 200px;
    height: 52px;
  }
}
