.main-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: $blue;
}

.main-header__button-menu {
  position: relative;

  width: 25px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: $white;
    border-radius: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: $white;
    border-radius: 5px;
  }
}

.main-header__actions {
  display: none;
}

.main-header__button-menu--open {
  &::before {
    background-color: darken($white, 20%);
    transform: translateY(4px) rotate(45deg);
  }

  &::after {
    background-color: darken($white, 20%);
    transform: translateY(-4px) rotate(-45deg);
  }
}

.main-header__menu {
  position: absolute;
  top: 79px;
  left: 0;
  z-index: 1;

  display: none;
  width: 100vw;
  padding-top: 35px;
  padding-bottom: 29px;

  background-color: $white;
}

.main-header__menu--opened {
  display: block;
}

.main-header__button {
  width: 100%;
  margin-top: 53px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .main-header {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: $blue-grey;
  }

  .main-header__logo-link {
    width: 188px;
  }

  .main-header__actions {
    display: flex;
  }

  .main-header__actions .actions__item--call {
    display: none;
  }

  .main-header__actions .actions__item--write {
    display: none;
  }

  .main-header__actions .actions__item--auth {
    width: 188px;
  }

  .main-header__menu {
    top: 120px;
  }

  .main-header__button--auth {
    display: none;
  }
}

@media (min-width: 1440px) {
  .main-header {
    display: flex;
  }

  .main-header__wrapper {
    padding-top: 27px;
    padding-bottom: 27px;

    background-color: $blue;
  }

  .main-header__button-menu {
    display: none;
  }

  .main-header__actions {
    order: 1;
  }

  .main-header__actions .actions__item--call {
    display: block;
  }

  .main-header__actions .actions__item--write {
    display: block;
  }

  .main-header__menu {
    position: static;

    display: block;
    padding: 0;

    background-color: transparent;
  }

  .main-header__contacts {
    display: none;
  }
}
