.main {
  position: relative;
  z-index: 0;

  background-color: $basis-background;
}

.main__intro {
  position: relative;
  z-index: 6;
}

.main__about {
  position: relative;
  z-index: 5;
}

.main__directions {
  position: relative;
  z-index: 4;
}

.main__companions {
  position: relative;
  z-index: 3;

  margin-top: -35px;
}

.main__rates {
  position: relative;
  z-index: 2;
}

.main__registration {
  position: relative;
  z-index: 1;

  margin-top: -35px;
}

.main__contacts {
  position: relative;
  z-index: 0;
}

.main__countries-filters {
  position: relative;
  z-index: -1;

  margin-top: -25px;
}

.main__catalog-inner {
  margin-top: 24px;
}

.main__companions-catalog {
  margin-top: 28px;
}

.main__prifile {
  margin-top: -25px;
}

.main__plans {
  margin-top: 31px;
}

.main__add-plan {
  margin-top: -35px;
}

@media (min-width: $tablet-width) {
  .main__companions {
    margin-top: -55px;
  }

  .main__registration {
    margin-top: -55px;
  }

  .main__catalog-inner {
    margin-top: 45px;
  }

  .main__companions-catalog {
    margin-top: 40px;
  }

  .main__plans {
    margin-top: 26px;
  }
}

@media (min-width: $desktop-width) {
  .main__companions {
    margin-top: -65px;
    padding-top: 82px;
  }

  .main__registration {
    margin-top: -65px;
    padding-top: 82px;
  }

  .main__about {
    margin-top: -65px;
  }

  .main__catalog-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 83px;
  }

  .main__filters {
    order: 1;
  }

  .main__companions-catalog {
    margin-top: 0;
  }


  .main__add-plan {
    margin-top: -65px;
  }
}
