.main-header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: $blue;

  &--white {
    background-color: $white;
  }
}

.main-header__logo {
  display: none;
}

.main-header__logo--selected {
  display: block;
}

.main-header__toggle {
  position: relative;

  width: 25px;
  height: 11px;

  font-size: 0;

  background-color: transparent;
  border: none;

  &--open-animation::before {
    animation: open-before-hamburger 0.5s;
  }

  &--open-animation::after {
    animation: open-after-hamburger 0.5s;
  }

  &--close-animation::before {
    animation: close-before-hamburger 0.5s;
  }

  &--close-animation::after {
    animation: close-after-hamburger 0.5s;
  }

  &--closed::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: $white;
    border-radius: 5px;
  }

  &--closed::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: $white;
    border-radius: 5px;
  }

  &--opened::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: darken($white, 20%);
    border-radius: 5px;
    transform: translateY(4px) rotate(45deg);
  }

  &--opened::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;

    display: block;
    width: 25px;
    height: 3px;

    background-color: darken($white, 20%);
    border-radius: 5px;
    transform: translateY(-4px) rotate(-45deg);
  }
}

.main-header__actions {
  display: none;
}

.main-header__menu {
  position: absolute;
  top: 72px;
  left: 0;
  z-index: 1;

  display: none;
  width: 100vw;
  padding-top: 35px;
  padding-bottom: 29px;

  background-color: $white;
}

.main-header__menu--opened {
  display: block;
}

.main-header__auth-button {
  width: 100%;
  margin-top: 53px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-header__contacts {
  margin-top: 30px;
}

.main-header__socials {
  margin-top: 30px;
}

@media (min-width: $tablet-width) {
  .main-header {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: $blue-grey;

    &--white {
      background-color: $white;
    }
  }

  .main-header__logo-link {
    width: 188px;
  }

  .main-header__actions {
    display: flex;
  }

  .main-header__menu {
    top: 129px;
  }

  .main-header__auth-button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    padding-top: 47px;
    padding-bottom: 20px;

    background-color: $blue;
  }

  .main-header__logo-link {
    width: 200px;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__actions {
    order: 1;
  }

  .main-header__menu {
    position: static;

    display: block;
    margin-left: 39px;
    margin-top: 10px;
    padding: 0;

    background-color: transparent;
  }

  .main-header__contacts {
    display: none;
  }

  .main-header__socials {
    display: none;
  }
}
