.modal {
  position: absolute;

  display: none;
  padding: 30px 25px;

  background-color: $white;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba($blue-slate, 0.1);
}

.modal__button--close {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 60px;

  color: $blue-slate;

  background-color: $pale-grey-five;
  border-radius: 0 0 20px 20px;

  &:hover {
    background-color: darken($pale-grey-five, 2%);
  }

  &:active {
    color: rgba($blue-slate, 0.3);

    background-color: darken($pale-grey-five, 2%);
  }
}

@media (min-width: $tablet-width) {
  .modal {
    border-radius: 30px;
  }
}
