.pagination {
  display: flex;
  flex-direction: column;
  padding-bottom: 81px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.pagination__deploy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  color: $blue-slate;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: rgba($blue-slate, 0.6);
  }

  &:active {
    color: rgba($blue-slate, 0.3);
  }
}

.pagination__deploy-icon {
  margin-right: 10px;

  fill: currentColor;
}

.pagination__wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  margin-top: 21px;

  background-color: $white;
  border-radius: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 1px);

    display: block;
    width: 1px;
    height: 100%;

    background-color: $pale-grey;
  }
}

.pagination__pages-list {
  @include list-reset;

  display: none;
}

.pagination__side-list {
  @include list-reset;

  display: flex;
  width: 100%;
}

.pagination__side-item {
  flex-grow: 1;
}

.pagination__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;

  font-size: 0;

  background-color: transparent;
  border-radius: 0;
}

.pagination__icon {
  fill: $blue-grey;

  &--next {
    transform: rotate(180deg);
    transform-origin: center;
  }
}

.pagination__button:hover > .pagination__icon {
  fill-opacity: 0.6;
}

.pagination__button:active > .pagination__icon {
  fill-opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .pagination {
    padding-bottom: 122px;

    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .pagination__deploy-icon {
    margin-right: 25px;
    width: 27px;
    height: 27px;
  }

  .pagination__wrapper {
    margin-top: 49px;
    padding: 25px 28px;

    &::before {
      content: none;
    }
  }

  .pagination__pages-list {
    display: flex;
    align-items: center;
  }

  .pagination__page-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    color: $dark-two;
    text-decoration: none;

    border-radius: 50%;

    &--selected {
      background-color: $gold;
    }

    &:hover:not(&--selected) {
      color: rgba($dark-two, 0.6);
    }
  }

  .pagination__side-list {
    @include list-reset;

    display: flex;
    width: auto;
  }

  .pagination__side-item {
    width: auto;
  }

  .pagination__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0 7px;

    font-size: 0;

    background-color: transparent;
    border-radius: 0;

    &--previous {
      padding-right: 17px;
    }

    &--next {
      padding-left: 17px;
    }
  }

  .pagination__icon {
    fill: $blue-grey;
  }

  .pagination__button:hover > .pagination__icon {
    fill-opacity: 0.6;
  }

  .pagination__button:active > .pagination__icon {
    fill-opacity: 0.3;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding-bottom: 137px;
  }

  .pagination__deploy {
    margin-left: 36.3%;
  }

  .pagination__wrapper {
    margin-top: 68px;
    padding-right: 36px;
  }
}
