.plan {
  padding-top: 23px;
  padding-bottom: 23px;

  color: $blue-slate;

  background-color: $white;
  border-radius: 10px;
}

.plan__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 25px;
  padding-left: 25px;

  font-size: 16px;
  line-height: 16px;

  &::before {
    content: counter(plans) ".";

    margin-right: 4px;

    font-weight: 500;
    letter-spacing: 1.6px;

    counter-increment: plans;
  }
}

.plan__wrapper {
  padding-right: 25px;
  padding-left: 25px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.plan__number-companions {
  margin-top: 18px;
  margin-bottom: 0;
}

.plan__dates {
  margin-top: 4px;
  margin-bottom: 0;
}

.plan__change {
  display: block;
  margin-top: 24px;
  margin-bottom: 0;

  line-height: 18px;
  color: rgba(black, 0.3);
  text-decoration: none;

  &:hover {
    color: rgba(black, 0.6);
  }

  &:active {
    color: rgba(black, 0.1);
  }
}


@media (min-width: $tablet-width) {
  .plan {
    padding-top: 25px;
    padding-bottom: 19px;
  }

  .plan__title {
    display: flex;
    justify-content: space-between;
    padding-right: 24px;
    padding-left: 37px;

    font-size: 24px;
    line-height: 50px;

    &::before {
      order: 1;

      font-weight: 500;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  .plan__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    padding-top: 17px;
    padding-right: 37px;
    padding-left: 37px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    border-top: 1px solid rgba($grey, 0.1);
  }

  .plan__number-companions {
    margin-top: 0;
    margin-bottom: 0;
  }

  .plan__dates {
    width: 210px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .plan__change {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .plan {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 35px;
    padding-right: 43px;
    padding-bottom: 35px;
    padding-left: 43px;
  }

  .plan__title {
    display: block;
    width: 50%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    &::before {
      order: 0;
    }
  }
  .plan__wrapper {
    width: 50%;
    margin-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;

    font-size: 20px;
    line-height: 18px;

    border-top: none;
  }

  .plan__number-companions {
    margin-top: 0;
    margin-bottom: 0;
  }

  .plan__dates {
    margin-top: 0;
    margin-bottom: 0;
  }

  .plan__change {
    margin-top: 0;
    margin-bottom: 0;
  }
}
