.quote {
  margin: 0;
  padding: 0;
  padding-left: 25px;

  text-transform: none;
}

.quote__text {
  width: 170px;
  margin: 0;

  font-weight: 300;

  quotes: "\00ab" "\00bb";

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

.quote__author,
.quote__position {
  width: 180px;
  margin-top: 18px;
  margin-bottom: 0;

  font-weight: 700;
}

.quote__position {
  margin-top: 0;
}

@media (min-width: $tablet-width) {
  .quote {
    padding-left: 35px;
  }

  .quote__text {
    width: 260px;
  }

  .quote__author,
  .quote__position {
    width: 260px;
    margin-top: 43px;

    font-size: 21px;
    line-height: 25px;
  }

  .quote__position {
    margin-top: 0;
  }
}
