.select-alphabet {
  position: absolute;
  top: 41px;
  left: -1px;
  z-index: 2;

  display: none;
  width: 224px;
  padding-right: 1px;
  padding-bottom: 265px;
  padding-left: 1px;

  background-color: $white;
  border-radius: 0 0 5px 5px;
  box-shadow: inset 0 0 0 1px $cloudy-blue, 0 20px 50px 0 rgba($blue-slate, 0.1);

  &--displayed {
    display: block;
  }
}

.select-alphabet__list {
  @include list-reset;

  position: relative;
  z-index: 2;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 214px;
}

.select-alphabet__item {
  flex-grow: 1;
  width: 44px;
  height: 42px;
}

.select-alphabet__button {
  width: 100%;
  height: 100%;
  padding-right: 0;
  padding-left: 0;

  font-weight: 500;
  color: $blue-slate;

  background-color: $white;
  border: none;
  box-shadow: 0 0 0 1px $cloudy-blue;
  cursor: pointer;

  &--selected {
    background-color: $pale-grey;
  }
}

.select-alphabet__countries-list {
  @include list-reset;

  position: absolute;

  display: none;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 22px;

  &--displayed {
    display: block;
    margin-top: 180px;
  }
}

.select-alphabet__countries-link {
  color: $grey;
  text-transform: none;
  text-decoration: none;
  letter-spacing: normal;
}

@media (min-width: $tablet-width) {
  .select-alphabet {
    top: 70px;

    box-sizing: border-box;
    width: 575px;
    height: 476px;
    padding-right: 230px;
    padding-bottom: 0;

    border-radius: 0 0 10px 10px;
    box-shadow: none;
    box-shadow: 0 20px 50px 0 rgba($blue-slate, 0.1);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 368px;

      display: block;
      width: 1px;
      height: 100%;

      background-color: $pale-grey-four;
    }
  }

  .select-alphabet__list {
    width: 265px;
    height: 350px;
    margin-top: 34px;
    margin-left: 27px;
  }

  .select-alphabet__item {
    flex-grow: 1;
    width: 53px;
    height: 70px;
  }

  .select-alphabet__button {
    &--selected {
      color: $white;

      background-color: $blue-slate;
    }
  }

  .select-alphabet__countries-list {
    position: absolute;
    top: 0px;
    left: 345px;

    width: 206px;
    padding-right: 25px;
    padding-left: 25px;

    font-size: 20px;
    line-height: 30px;

    &--displayed {
      display: block;
      margin-top: 0;
    }
  }
}
