.short-companion {
  position: relative;

  background-color: $white;
  border-radius: 10px;
}

.short-companion__image {
  display: block;
  width: 100%;
  height: auto;

  border-radius: 10px 10px 0 0;
}

.short-companion__wrapper {
  position: relative;

  padding: 25px 30px 15px 30px;
}

.short-companion__countries-list {
  @include list-reset;

  position: absolute;
  top: -12px;
  left: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  font-size: 0;
}

.short-companion__countries-item {
  width: 35px;
  height: 24px;
  margin-left: 18px;

  border-radius: 5px;

  &--sri-lanka {
    background-image: url("../img/flag-sri-lanka.svg");
  }

  &--thailand {
    background-image: url("../img/flag-thailand.svg");
  }

  &--seychelles {
    background-image: url("../img/flag-seychelles.svg");
  }

  &--belgium {
    background-image: url("../img/flag-belgium.svg");
  }

  &--czech {
    background-image: url("../img/flag-czech.svg");
  }
}

.short-companion__countries-item:first-child {
  margin-left: 0;
}

.short-companion__name {
  margin: 0;

  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.short-companion__link {
  text-decoration: none;
}

.short-companion__hashtags-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 11px;
}

.short-companion__hashtags-item {
  margin-left: 5px;
}

.short-companion__hashtags-item:first-child {
  margin-left: 0;
}

.short-companion__hashtags-link {
  color: $grey;
  text-decoration: none;
}

.short-companion__transport-list {
  @include list-reset;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;

  font-size: 0;
}

.short-companion__transport-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
}

.short-companion__transport-icon {
  fill: $blue-slate;
}

.short-companion__transport-item[aria-hidden="true"] .short-companion__transport-icon {
  fill-opacity: 0.15;
}

.short-companion__level {
  position: absolute;
  top: 16px;
  left: 16px;
}

@media (min-width: $tablet-width) {
  .short-companion {
    width: 285px;
    margin: 0;

    border-radius: 20px;
  }

  .short-companion__image {
    border-radius: 20px 20px 0 0;
  }

  .short-companion__wrapper {
    padding: 29px 30px 23px 30px;
  }

  .short-companion__name {
    font-size: 24px;
    line-height: 24px;
  }

  .short-companion__link {
    text-decoration: none;
  }

  .short-companion__hashtags-list {
    margin-top: 21px;

    font-size: 20px;
    line-height: 24px;
  }

  .short-companion__transport-list {
    margin-top: 19px;
  }
}
