.start {
  @include list-reset;

  position: relative;

  background-image: linear-gradient(to bottom, $mango 0 90px, $mango-three 90px 180px, $mango-two 180px 360px);
  border-radius: 10px;

  counter-reset: start-counter;
}

.start__item {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 110px;
  padding: 21px 25px;
  padding-bottom: 23px;

  list-style: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $dark-two;
  text-transform: none;

  border-radius: 10px;

  &::before {
    content: counter(start-counter);
    position: absolute;
    top: 21px;
    right: 20px;

    color: $white;

    counter-increment: start-counter;
  }

  &:nth-of-type(1) {
    z-index: 0;

    background-color: $mango;
  }

  &:nth-of-type(2) {
    z-index: 1;

    background-color: $mango-three;
  }

  &:nth-of-type(3) {
    z-index: 2;

    background-color: $mango-two;
  }

  &:nth-of-type(4) {
    z-index: 3;

    padding-bottom: 23px;

    background-color: $gold;
  }
}

.start__text-wrapper {
  width: 160px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .start {
    display: flex;
    flex-wrap: wrap;

    border-radius: 20px;
  }

  .start__item {
    width: 50%;
    padding: 30px 33px;
    padding-bottom: 62px;

    font-size: 24px;
    line-height: 24px;

    border-radius: 20px;

    &::before {
      top: auto;
      right: auto;
      bottom: 27px;
      left: 33px;

      font-size: 30px;
    }

    &:nth-of-type(1) {
      border-radius: 20px 0 0 0;
    }

    &:nth-of-type(2) {
      border-radius: 20px 20px 0 0;
    }

    &:nth-of-type(3) {
      border-radius: 0 0 0 20px;
    }

    &:nth-of-type(4) {
      border-radius: 0 0 20px 20px;
    }
  }

  .start__text-wrapper {
    width: 200px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .start {
    width: 100%;

    background-image: linear-gradient(to right, $mango 0 30%, $mango-three 30% 60%, $mango-two 60% 90%);
  }

  .start__item {
    width: 25%;
    min-width: 315px;
    padding-bottom: 30px;

    &::before {
      top: 21px;
      right: 20px;
      bottom: auto;
      left: auto;
    }

    &:nth-of-type(1) {
      border-radius: 20px 0 0 20px;
    }

    &:nth-of-type(2) {
      border-radius: 20px 0 0 20px;
    }

    &:nth-of-type(3) {
      border-radius: 20px 0 0 20px;
    }

    &:nth-of-type(4) {
      border-radius: 20px 20px 20px 20px;
    }
  }
}
