.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $mango;

  &--blue {
    color: $blue-slate;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 45px;
    line-height: 45px;
  }
}
