$white: #ffffff;
$basis-background: #edeff6;
$dark-two: #161c35;
$blue: #161c35;
$blue-slate: #1d2e5b;
$blue-grey: #192144;
$blue-grey-two: #121936;
$cloudy-blue: #cbced9;
$grey: #444444;
$light-grey: #d6daed;
$light-grey-two: #c8cee8;
$pale-grey: #edeff6;
$pale-grey-five: #f3f4f8;
$pale-grey-four: #e2e5f2;
$gold: #ffd74b;
$mango: #ff8d30;
$mango-two: #ffbd30;
$mango-three: #ffa530;
$macaroni-and-cheese: #f3c72b;
$salmon: #f97676;
$green: #81e31e;
$very-light-pink-two: #f9eaea;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$retina-dpi: 192dpi;
$retina-dppx: 2dppx;
